.card {
  position: fixed;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  padding: 20px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.left img {
  border-radius: 10px;
}

.stat {
  margin-bottom: 10px;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
